<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/277ac4a1c3.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <title>Clucker!</title>
  </head>
  <body>

    <header>

      <nav class="nav-bar">
        <li class="nav-item"><a href="/">home</a></li>
        <li class="nav-item"><a href="/newuser">signup</a></li>
        <li class="nav-item"><a href="/login">login</a></li>
        <li class="nav-item"><a href="/logout">logout</a></li>
      </nav>

    </header>

    <div class="big-box">
      <div class="star-box"></div>
      <div class="chicken-box"></div>
    </div>

<main class="mainbody">
  {{#authenticated}}
  <h2 class="welcome">Welcome, {{currentUser}}</h2>

    <div class="newpost">
      <form id="newpost" action="/" method="post">
        <h3>New cluck</h3><br>
        <label class="title-label" for="postTitle">title</label>
        <input class="title-input" type="text" name="postTitle"><br>

        <textarea class="body-input" name="postBody" rows="2" cols="80" maxlength="141" placeholder="write your comment here"></textarea><br>
        <button type="submit" name="new-post-submit">cluck!</button>
      </form>
    </div>

    <div class="post-errors">
      <ul>
        {{#postErr}}
        <li>{{msg}}</li>
        {{/postErr}}
      </ul>
    </div>
  {{/authenticated}}


  {{^authenticated}}
    <h1 class="welcome">Wanna cluck? <a href="/login">Login!</a></h1>
  {{/authenticated}}



    {{#user}}
    <div class="posts">
    {{#posts}}
      <ul class="post">
        <li class="post-name">{{name}}, </li>
        <span class="post-create-time">{{createdAt}}</span>
        <li class="post-name">{{title}}</li>
        <li class="post-body">{{body}}</li>
        {{#likes.length}}
        <li class="like"><i class="fa fa-thumbs-o-up" aria-hidden="true"> {{.}}</i></li>
        {{/likes.length}}

        <ul class="likes-list">
          {{#likes}}
          <li class="like-body">{{user.name}} liked this cluck on {{updatedAt}}</li>
          {{/likes}}
        </ul>

        <form class="like-button" action="/" method="post">
          <input hidden="hidden" type="text" name="postItteration" value="{{id}}">
          {{#authenticated}}<button type="submit" name="like">like</button>{{/authenticated}}
        </form>

        {{#owner}}
        <form class="" action="/" method="post">
          {{#authenticated}}
          <input class="hide-me" name="userId" value="{{userId}}">
          <button class="delete-button" type="submit" name="deletepost" value="{{id}}">delete</button>
          {{/authenticated}}
        </form>
        {{/owner}}
      </ul>
      {{/posts}}
    </div>
  {{/user}}
  </main>










    <script src="./scripts.js" charset="utf-8"></script>
  </body>
</html>
