<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>

  <h1>Here's some stuff, for sure</h1>

  <div class="">

    <ul>
      {{#user}}
      <li>{{name}}</li>
        {{#posts}}
      <li>{{body}}</li>
        {{/posts}}
      {{/user}}
    </ul>

  </div>






    <script src="./scripts.js" charset="utf-8"></script>
  </body>
</html>
