<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/277ac4a1c3.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <title>Clucker!</title>
  </head>

      <header>

        <nav class="nav-bar">
          <li class="nav-item"><a href="/">home</a></li>
          <li class="nav-item"><a href="/newuser">signup</a></li>
          <li class="nav-item"><a href="/login">login</a></li>
          <li class="nav-item"><a href="/logout">logout</a></li>
        </nav>

      </header>

      <div class="big-box">
        <div class="star-box"></div>
        <div class="chicken-box"></div>
      </div>

  <h1>Please log in</h1>


<form class="login" action="/login" method="post">
    <label for="username">username</label>
    <input type="text" name="username" autofocus="autofocus">

    <label for="password">password</label>
    <input type="password" name="password">

    <button type="submit" name="button">submit</button>
</form>
<p>{{err}}</p>







    <script src="./scripts.js" charset="utf-8"></script>
  </body>
</html>
