<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <title>Gabble</title>
  </head>
  <body>
    <header>
      <h1>CLUCK</h1>
      <nav>
        <li><a href="/">home</a></li>
        <li><a href="/newuser">signup</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/logout">logout</a></li>
      </nav>
    </header>


    
<h1>Create new user</h1>



<form class="new-user-form" action="/newuser" method="post">
  <label for="username">username</label>
  <input type="text" name="username">

  <label for="password">password</label>
  <input type="password" name="password" value="">

  <label for="confirmpassword">confirm password</label>
  <input type="password" name="confirmpassword">

  <button type="submit" name="new-user-submit">create user</button>
</form>





    <script src="./scripts.js" charset="utf-8"></script>
  </body>
</html>
