
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

li {
 list-style: none;
}

.nav-bar {
  height: 50px;
  box-shadow: 2px 0px 5px 7px lightgrey;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-top: 10px;
}
