
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

li {
 list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*_________________________*/

header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-bar {
  height: 50px;
  box-shadow: 2px 0px 5px 7px lightgrey;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-top: 10px;
}

.nav-item a{
  z-index: 2;
}

.big-box {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.star-box {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url(/images/star.svg);
  height: 450px;
  width: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.2;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes looney-animation {
	0% { transform: scale(1); }
  15% { transform: scale(0.95); }
	30% { transform: scale(0.90); }
	40% { transform: scale(0.95); }
	50% { transform: scale(1); }
	60% { transform: scale(1.05); }
	70% { transform: scale(1.10); }
	80% { transform: scale(1.05); }
	100% { transform: scale(1); }
}
.chicken-box {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url(/images/chicken.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin-left: 10px;
	animation-name: looney-animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

.header-title {
  vertical-align: middle;
  margin-top: 50px;
}


/*_____________________________________________________*/

.mainbody {

}

.welcome {
  display: block;
  text-align: right;
  margin: -80px 40px 80px 0px;
  padding-right: 100px;

}

.posts>ul {
  border: 2px solid lightgrey;
  margin: 20px;
  padding: 20px;
}

ul li {
  padding: 5px;
}

li h3 {
  margin: 10px;
  font-size: 28px;
}

.title-label {

}

.title-input {

}

.body-input {

}

/*_____________________________*/

.post {

}

.post-name {

}


.hide-me {
  display: none;
}

.delete-button {

}

.login, .new-user-form{
  text-align: left;
  margin-top: -15%;
  margin-left: 50px;
}

.login label, .new-user-form label {
  margin-right: 10px;
}

.login input, .new-user-form input {
  border-bottom: solid 2px lightgrey;
  font-size: 20px;
  padding: 5px 10px;
  height: 40px;
}

.login button, .new-user-form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

.login-name {
  margin: 10px;
}


.login-password {
  margin: 10px;
}

#newpost {
  margin: 20px;
}

#newpost h3 {

}

.newpost-title {
  margin: 30px;
}

.title-input {
  border-bottom: solid 2px lightgrey;
  font-size: 20px;
  padding-left: 15px;
}

.body-input {
  margin: 0px 30px;
  border: solid 2px lightgrey;
  height: 60px;
  padding: 15px;
  font-size: 20px;
}

.submit-post {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

/*
.posts{
  width: 100%;
  height: 120vh;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(6,1fr);
}

.posts:nth-child(1) {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.posts:nth-child(2) {
  grid-column: 5 / 7;
  grid-row: 2 / 4;
}

.posts:nth-child(3) {
  grid-column: 8 / 10;
  grid-row: 2 / 4;
}

.posts:nth-child(4) {
  grid-column: 6 / 8;
  grid-row: 3 / 5;
}

.posts:nth-child(5) {
  grid-column: 8 / 10;
  grid-row: 5 / 7;
}

.posts:nth-child(6) {
  grid-column: 3 / 5;
  grid-row: 6 / 8;
}

.posts:nth-child(7) {
  grid-column: 4 / 6;
  grid-row: 7 / 9;
}

.posts:nth-child(8) {
  grid-column: 7 / 9;
  grid-row: 6 / 8;
}

.post {
  border: solid 1px lightgrey;
  border-radius: 3px;
}
*/









/*whitesapce*/
